@import "tailwindcss";

.dashboard-Img {
    background-image: url('../src/assets/Dashboard.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Chrome, Edge, Safari */
.custom-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: #128ca78c;
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #08E9FC;
    border-radius: 10px;
    border: none;
}

.custom-scroll::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
}



@font-face {
    font-family: 'poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'poppins-semiBold';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
    font-style: normal;
}

.status-COMPLETED-shift-zoomout {
    margin-left: -1.4rem;
    margin-right: 1rem;
    font-size: 10px;
}

.status-INPROGRESS-shift-zoomout {
    margin-left: -1.5rem;
    margin-right: 1rem;
    font-size: 12px;
}

.status-pending-shift-zoomout {
    margin-left: -1.9rem;
    margin-right: 1rem;
    font-size: 12px;
}


/* Tailwind `lg` = 1024px */
@media (min-width: 1024px) {
    .status-COMPLETED-shift-zoomout {
        margin-left: -1.4rem;
        margin-right: 1rem;
        font-size: 10px;
    }

    .status-INPROGRESS-shift-zoomout {
        margin-left: -1.4rem;
        margin-right: 1rem;
        font-size: 10px;
    }

    .status-pending-shift-zoomout {
        margin-left: -1.6rem;
        margin-right: 1rem;
        font-size: 12px;
    }
}

/* Tailwind `xl` = 1280px */
@media (min-width: 1280px) {
    .status-COMPLETED-shift-zoomout {
        margin-right: 1.4rem;
        font-size: 12px;
    }

    .status-INPROGRESS-shift-zoomout {
        margin-right: 1.0rem;
        font-size: 12px;
    }

    .status-pending-shift-zoomout {
        margin-right: 2.0rem;
        font-size: 12px;
    }
}

/* Tailwind `2xl` = 1536px */
@media (min-width: 1536px) {

    .status-COMPLETED-shift-zoomout {
        margin-left: -1.5rem;
        margin-right: 1rem;
        font-size: 13px;
    }

    .status-INPROGRESS-shift-zoomout {
        margin-left: -1.5rem;
        margin-right: 1rem;
        font-size: 13px;
    }

    .status-pending-shift-zoomout {
        margin-left: -1.9rem;
        margin-right: 1rem;
        font-size: 14px;
    }
}

@media (min-width: 1600px) {

    .status-COMPLETED-shift-zoomout {
        margin-left: -1.6rem;
        font-size: 14px;
    }

    .status-INPROGRESS-shift-zoomout {
        margin-left: -1.5rem;
        font-size: 14px;
    }

    .status-pending-shift-zoomout {
        margin-left: -2.0rem;
        font-size: 15px;
    }
}

/* Custom breakpoint: 1920px */
@media (min-width: 1920px) {
    .status-COMPLETED-shift-zoomout {
        margin-left: -2rem;
        font-size: 15px;
    }

    .status-INPROGRESS-shift-zoomout {
        margin-left: -1.9rem;
        font-size: 15px;
    }

    .status-pending-shift-zoomout {
        margin-left: -2.6rem;
        font-size: 16px;
    }
}




/* Add this to your CSS file */
.react-datepicker-wrapper {
    width: auto !important;
}

.react-datepicker {
    background-color: #1e1e1e !important;
    border: 1px solid #00ffff !important;
    border-radius: 8px !important;
    color: white !important;
}

.react-datepicker__header {
    background-color: #069aa0 !important;
    border-bottom: 1px solid #00ffff !important;
    color: white !important;
}

.react-datepicker__current-month {
    color: white !important;
}

.react-datepicker__day-name {
    color: white !important;
}

.react-datepicker__day {
    color: white !important;
}

.react-datepicker__day:hover {
    background-color: #069aa0 !important;
    color: white !important;
}

.react-datepicker__day--selected {
    background-color: #00ffff !important;
    color: black !important;
}

.react-datepicker__day--today {
    background-color: #252423 !important;
    color: white !important;
}

.react-datepicker__navigation {
    border: none !important;
}

.react-datepicker__navigation--previous {
    border-right-color: white !important;
}

.react-datepicker__navigation--next {
    border-left-color: white !important;
}